USE [UniversidadDB]
GO
/****** Object:  Table [dbo].[Cursos]    Script Date: 27/06/2026 17:42:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](20) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Creditos] [int] NOT NULL,
	[Docente] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 27/06/2026 17:42:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](20) NOT NULL,
	[Nombres] [varchar](100) NOT NULL,
	[Apellidos] [varchar](100) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Carrera] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cursos] ON 
GO
INSERT [dbo].[Cursos] ([ID], [Codigo], [Nombre], [Creditos], [Docente]) VALUES (1, N'DW001', N'Diseño Web', 4, N'Ing. Roberto Sanchez')
GO
INSERT [dbo].[Cursos] ([ID], [Codigo], [Nombre], [Creditos], [Docente]) VALUES (2, N'BD001', N'Base de Datos', 3, N'Ing. Ana Torres')
GO
INSERT [dbo].[Cursos] ([ID], [Codigo], [Nombre], [Creditos], [Docente]) VALUES (3, N'PG001', N'Programación I', 5, N'Ing. Carlos Mendoza')
GO
SET IDENTITY_INSERT [dbo].[Cursos] OFF
GO
SET IDENTITY_INSERT [dbo].[Estudiantes] ON 
GO
INSERT [dbo].[Estudiantes] ([ID], [Codigo], [Nombres], [Apellidos], [Correo], [Carrera]) VALUES (1, N'U2023001', N'Williams', N'Vilca Squipe', N'williams@continental.edu.pe', N'Ing. Sistemas')
GO
INSERT [dbo].[Estudiantes] ([ID], [Codigo], [Nombres], [Apellidos], [Correo], [Carrera]) VALUES (2, N'U2023002', N'Maria', N'Perez Lopez', N'maria@continental.edu.pe', N'Ing. Sistemas')
GO
INSERT [dbo].[Estudiantes] ([ID], [Codigo], [Nombres], [Apellidos], [Correo], [Carrera]) VALUES (3, N'U2023003', N'Juan', N'Torres Quispe', N'juan@continental.edu.pe', N'Ing. Software')
GO
SET IDENTITY_INSERT [dbo].[Estudiantes] OFF
GO